## Setting up the data frame

In [1]:
import pandas as pd
import os

In [2]:
basepath='Data'

In [3]:
labels={'pos':1,'neg':0}
df=pd.DataFrame()

In [4]:
for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath, s, l)
        for file in os.listdir(path):
            with open(os.path.join(path, file), 
                      'r', encoding='utf-8') as infile:
                txt = infile.read()
            df = df.append([[txt, labels[l]]], 
                           ignore_index=True)
df.columns = ['review', 'sentiment']

In [5]:
df.head(10)

                                              review  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1
5  I saw this film on September 1st, 2005 in Indi...          1
6  Maybe I'm reading into this too much, but I wo...          1
7  I felt this film did have many good qualities....          1
8  This movie is amazing because the fact that th...          1
9  "Quitting" may be as much about exiting a pre-...          1

# Randomize data frame and saving as csv file

In [6]:
import numpy as np

In [7]:
np.random.seed(0)

In [8]:
#randomize data frame
df = df.reindex(np.random.permutation(df.index))
#save data frame to a csv file called movie_data.csv
df.to_csv('movie_data.csv', index = False, encoding = 'utf-8')

In [9]:
df = pd.read_csv('movie_data.csv', encoding = 'utf-8')

In [10]:
df.head()

                                              review  sentiment
0  In 1974, the teenager Martha Moxley (Maggie Gr...          1
1  OK... so... I really like Kris Kristofferson a...          0
2  ***SPOILER*** Do not read this, if you think a...          0
3  hi for all the people who have seen this wonde...          1
4  I recently bought the DVD, forgetting just how...          0